<!DOCTYPE html>
<html>
<head>
	<title>{% block title %}{% endblock title %}</title>

	<!-- Imports -->
	 <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.5/css/materialize.min.css">

	<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.5/js/materialize.min.js"></script>
</head>
<body>
	<!-- Materialize Nav bar -->
	<nav>
    	<div class="nav-wrapper">
      		<a href="{% url 'index' %}" class="brand-logo">Taylor Swift</a>
      		<ul id="nav-mobile" class="right hide-on-med-and-down">
      			<li><a href="{% url 'index' %}">Home</a></li>
        		<li><a href="{% url 'about' %}">About</a></li>
        		<li><a href="{% url 'list' %}">Songs</a></li>
        		<li><a href="{% url 'twitter' %}">Twitter</a></li>
        		{% if user.is_authenticated %}
        			<li><a href="{% url 'profile' %}">Profile</a></li>
        			<li><a href="{% url 'logout' %}">Logout</a></li>
        		{% else %}
        			<li><a href="{% url 'register' %}">Register</a></li>
        			<li><a href="{% url 'login' %}">Login</a></li>
        		{% endif %}
      		</ul>
    	</div>
  	</nav>

	<style>
		.nav {
			padding-left: 80px;
		}
	</style>
	{% block content %}
	{% endblock %}
</body>
</html>