<!DOCTYPE html>
<html>
<head>
	<title>{% block title %}{% endblock title %}</title>

	<!-- Imports -->
	 <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.5/css/materialize.min.css">

	<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.5/js/materialize.min.js"></script>
</head>
<body>
	<!-- Materialize Nav bar -->
	<nav>
    	<div class="nav-wrapper">
      		<a href="{% url 'index' %}" class="brand-logo">Taylor Swift</a>
      		<ul id="nav-mobile" class="right hide-on-med-and-down">
      			<li><a href="{% url 'index' %}">Home</a></li>
        		<li><a href="{% url 'about' %}">About</a></li>
        		<li><a href="{% url 'list' %}">Songs</a></li>
        		<li><a href="{% url 'twitter' %}">Twitter</a></li>
        		{% if user.is_authenticated %}
        			<li><a href="{% url 'profile' user.id %}">Profile</a></li>
        			<li><a href="{% url 'logout' %}">Logout</a></li>
        		{% else %}
        			<li><a href="{% url 'register' %}">Register</a></li>
        			<li><a href="{% url 'login' %}">Login</a></li>
        		{% endif %}
      		</ul>
    	</div>
  	</nav>

	<style>
		.nav {
			padding-left: 80px;
		}
	</style>
	{% block content %}
	{% endblock %}

  <footer class="page-footer">
      <div class="container">
        <div class="row">
          <div class="col l6 s12">
              <h5 class="white-text">Footer Content</h5>
              <p class="grey-text text-lighten-4">You can use rows and columns here to organize your footer content.</p>
          </div>
          <div class="col l4 offset-l2 s12">
              <h5 class="white-text">Links</h5>
              <ul>
                  <li><a class="grey-text text-lighten-3" href="#!">Link 1</a></li>
                  <li><a class="grey-text text-lighten-3" href="#!">Link 2</a></li>
                  <li><a class="grey-text text-lighten-3" href="#!">Link 3</a></li>
                  <li><a class="grey-text text-lighten-3" href="#!">Link 4</a></li>
            </ul>
          </div>
          </div>
        </div>
        <div class="footer-copyright">
          <div class="container">
          © 2016 Copyright Developed By Joseph Moran
        <a class="grey-text text-lighten-4 right" href="http://taylorswift.com/">Taylor Swift</a>
          </div>
        </div>
  </footer>
</body>
</html>