{% extends 'base.html' %}

{% block content %}

<div class="feed">
	<h2>Check Out Taylors Twitter Feed!</h2>
	<h3>{{ user.screen_name }}</h3>
	<a class="twitter-timeline" href="https://twitter.com/taylorswift13" data-widget-id="701481207020789760">Tweets by @taylorswift13</a>
	<script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+"://platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>
</div>
<!-- <p>{{ timeline }}</p> -->
<style>
	.feed {
		padding-left: 100px;
	}
</style>

{% endblock %}